.gallery{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.gallery h2{
    margin: 10rem 20rem 5rem 20rem;
    font-size: 3rem;
    margin-bottom: 5rem;
}

.gallery_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 1rem;
}
.gallery_buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 90vw;
    position: absolute;
}
.gallery_buttons button{
    z-index: 2;
    width: 5rem;
    height: 5rem;
    margin: 2rem 0rem ;
    background-color: #fff;
    border: transparent;
    border-radius: 100%;
    box-shadow: 0rem 0rem 15rem 2rem #00000053;
}


.gallery_cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
    padding: 0rem 4rem;
}
.gallery_card{
    width: 25rem;
    height: 38rem;
}
.gallery_card img{
    width: 25rem;
    height: 25rem;
    margin-bottom: 1rem;
}
.gallery_card i{
    margin: 0rem 2rem 0.5rem 0rem;
}
.gallery_card i span {
    margin: 0rem 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
}
.gallery_card span{
    font-weight: 500;
}
.gallery_card p{
    color: #00000071;
}